* {
  margin: 0;
  padding: 0;
}

body {
  font-color: #666;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 1.3em;
  background-color: #C0DEED;
  color: #333;
  padding-top: 10px;
}

h1 {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 1em;
  text-align: center;
  color: #2276BB;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin-bottom: 10px;
}

p {
  font-size: 0.9em;
  text-align: center;
  width: 600px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 10px;
}

a {
  color: #2276BB;
}

#main_box {
  width: 800px;
  height: 840px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #fff;
  border: 4px solid #DDDDDD;
  border-radius: 10px;
  -o-border-radius: 10px;
  -icab-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#menu {
  text-align: center;
}

#menu ul li{
  display: inline;
  padding-right: 10px;
}

#message_box, #login_form, #target_twitter_account, #users_list_box {
  display: none;
  position: relative;
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 2px solid #aaa;
  box-shadow: 4px 4px 4px #888;
    -o-box-shadow: 4px 4px 4px #888;
    -khtml-box-shadow: 4px 4px 4px #888;
    -moz-box-shadow: 4px 4px 4px #888;
    -webkit-box-shadow: 4px 4px 4px #888;
  border-radius: 10px;
    -o-border-radius: 10px;
    -icab-border-radius: 10px;
    -khtml-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

#login_form {
  display: block;
}

#login_form label {
  display: block;
  float: left;
  width: 200px;
  padding-top: 5px;
}

input {
  border: 1px solid #888;
  padding: 4px 8px;
  border-radius: 5px;
  -o-border-radius: 5px;
  -icab-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  margin-bottom: 10px;
}

input.login, input.search, input.follow {
  float: left;
  margin-top: 5px;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  border: 1px solid #DDD;
  background-color: #2276BB;
  text-shadow: 1px 1px 2px #000;
}

#name, #pass, #target_account {
  float: right;
  width: 150px;
}

#users_list {
  display: none;
  height: 200px;
  overflow: auto;
}

#users_list span{
  padding-left: 10px;
  font-size: 0.8em;
}

#footer {
  text-align: center;
  padding-top: 10px;
}

img.loading {
  display: none;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: -3px;
  float: left;
}

span.green, span.red {
  display: block;
  float: left;
  width: 250px;
  font-size: 0.8em;
  margin-left: 10px;
}

.green {
  color: #228D00;
}

.red {
  color: #A60000;
}

.cleaner {
  clear: both;
}