

body {
  font-color: #666;
  font-family: Arial, "MS Trebuchet", sans-serif;
  font-size: 1.3em;
  background-color: #C0DEED;
  color: #333;
}

h1 {
  font-size: 1.4em;
  text-align: center;
}

h2 {
  font-size: 1em;
  text-align: center;
  color: #2276BB;
}

p {
  font-size: 0.9em;
  text-align: center;
  width: 600px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 10px;
}

#main_box {
  width: 800px;
  height: 850px;
  margin: 0 auto;
  background-color: #fff;
  border: 4px solid #DDDDDD;
  border-radius: 10px;
  -o-border-radius: 10px;
  -icab-border-radius: 10px;
  -khtml-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#message_box, #login_form, #target_twitter_account, #users_list_box {
  display: none;
  position: relative;
  width: 400px;
  padding: 10px;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #DDDDDD;
  box-shadow: 2px 2px 2px #888;
    -o-box-shadow: 2px 2px 2px #888;
    -khtml-box-shadow: 2px 2px 2px #888;
    -moz-box-shadow: 2px 2px 2px #888;
    -webkit-box-shadow: 2px 2px 2px #888;
}

#login_form {
  display: block;
}

#login_form label {
  display: block;
  float: left;
  width: 200px;
}

#login_form span {
  color: #2276BB;
}

input {
  border: 1px solid #888;
  padding: 4px 8px;
  border-radius: 3px;
  -o-border-radius: 5px;
  -icab-border-radius: 5px;
  -khtml-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

input.login, input.search, input.follow {
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  border: 1px solid #DDD;
  background-color: #2276BB;
}

#users_list {
  display: none;
  height: 200px;
  overflow: auto;
}

#users_list span{
  padding-left: 10px;
  font-size: 0.8em;
}

img.loading {
  display: none;
  margin-left: 10px;
  margin-bottom: -3px;
}
span {
  font-size: 0.8em;
}

.green {
  color: #228D00;
}

.red {
  color: #A60000;
}