<%= erb :header %>
<h2>About Twitter multifollow</h2>
<p>
   I wrote this service just for fun and for educational purposes. It's the first
   of many small apps that I want to wrote to simplify your life with Internet applications.
</p>
<p>
   Don't be afraid to send me your suggestions about this app to <br />petr at-sign zaparka dot cz.
</p>
<p>
  You should follow me on Twitter <a href="http://twitter.com/zaparka" title="My Twitter account">here</a>.<br /><br />
  If you interested about me visit <a href="http://zaparka.cz/about" title="My personal page">zaparka.cz</a>.<br /><br />
</p>
<p>
  Have a fun.
</p>
<%= erb :footer %>