<%= erb :header %>
<h2>About Twitter multifollow</h2>
<p>
   I wrote this service just for fun and for educational purposes. It's the first
   of many (i hope) small apps that i want to wrote to simplify your life with internet applications.
</p>
<p>
   Don't be afraid to send me your suggestions about this app to petr at-sign zaparka dot cz.
</p>
<p>
  You should follow me on twitter <a href="http://twitter.com/zaparka" title="My twitter account">here</a>.<br /><br />
  If you interested about me visit <a href="http://zaparka.cz/about" title="My personal page">zaparka.cz</a>.<br /><br />
</p>
<p>
  Have fun.
</p>
<%= erb :footer %>