 </div>
  <footer>
    <p id="footer">
      <a href="http://multifollow.heroku.com/" title="Home page">Home</a> -
      <a href="http://multifollow.heroku.com/terms" title="Terms of use and licensing">Terms and license</a> -
      <a href="http://multifollow.heroku.com/about" title="Information about author and used gems">About</a>
      © 2009 Petr Zápařka
    </p>
  </footer>

  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-9809806-2");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
</body>
</html>