      <%= erb :header %>
      <p>
        This service allows you select more than one twitter account to follow, at the time.
        Before you use this service, please read this <a href="http://help.twitter.com/forums/10711/entries/68916" title="Official Twitter Support article about following limits">Following Limits and Best Practices article</a> and 
        <a href="terms" title="Terms of use and licencing">terms of use</a>.
      </p>
      <div id="login_form">
        <h2>Login into your twitter account</h2>
        <label for="name">Twitter name</label>
        <input type="text" name="name" id="name" value=""/><br/>
        <label for="pass">Twitter password</label>
        <input type="password" name="pass" id="pass" value=""/><br/>
        <input type="submit" name="login" value="login" class="login"/>
        <img src="img/loader.gif" alt="loading..." class="loading" />
        <span class="green"></span>
      </div>
      <div id="target_twitter_account">
        <h2>Write account name which from you select twitter accounts for following</h2>
        <label for="target_account">Twitter account source</label>
        <input type="text" name="target_account" id="target_account" value=""/><br/>
        <input type="submit" name="target_account" value="search" class="search"/>
        <img src="img/loader.gif" alt="loading..." class="loading" />
        <span class="green"></span>
      </div>
      <div id="users_list_box">
        <h2>Select accounts which you want to follow</h2>
        <label>List of followed users</label>
        <div id="users_list">
        </div>
        <input type="submit" value="follow" class="follow"/>
        <img src="img/loader.gif" alt="loading..." class="loading" />
        <span class="green"></span>
      </div>
      <%= erb :footer %>